
<!-- BOTTOM FOOTER -->

<div class="w3-bottom w3-light-grey" id="bar" style="z-index:3;">
  <span class="w3-bar-item w3-right" style="color:white"><i></i></span>
</div>

<div class="w3-row w3-white w3-margin-left w3-margin-right fixed-bottom" style="z-index:4;margin-bottom:16px;" id="footer">

  <div class="w3-row w3-white w3-margin-left w3-margin-right">

    <div class="w3-twothird w3-hide-small">
      <br>
      <i class="fa fa-info-circle alignleft" style="color:orange;" id="infoIcon1"></i>
      <div class="scroll-off" id="scroll">
        <p><i><center style="color:#444444;"> </center></i></p>
      </div> 
      <div style="clear: both;"></div> 
      <br>
    </div>

    <div class="w3-onethird">
      <br>
      <i class="fa fa-info-circle alignleft" style="color:orange;" id="infoIcon2"></i>
      <i class="fa fa-info-circle alignright" style="color:orange;" id="infoIcon3"></i>
      <p><i><center style="color:#444444;"> soTek 971 © 2021</center></i></p>
      <br>
    </div>
    
  </div>
    
</div>

<div class="w3-bar w3-bottom w3-light-grey w3-large" style="z-index:4; height:16px;">
  <span class="w3-bar-item w3-right" style="color:white"><i></i></span>
</div>

<!-- BOTTOM FOOTER -->