
<!-- MAIN LOCATION -->


<!-- POPUP MODAL CALCULATION-->

<div class="modal w3-animate-zoom" id="myModalLoadIrr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5><i>soTek</i><i style="color:orange"> 971</i></h5>
      </div>
      <div class="modal-body center-block">
        <center><h5 class="modal-title" id="myModalLabel"><i class="fa fa-clock-o"></i> Please wait..</h5></center>
        <center><h6>Loading irradiance data from PVGIS5.</h6></center>
      </div>
    </div>
  </div>
</div>