
<!-- TOP CONTAINER -->

<div class="w3-bar w3-top w3-black w3-large" style="z-index:1; height:40px;">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="close_side_menu();"><i style="color:white" class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right"><i style="color:white">soTek 971</i></span>
</div>

<div class="w3-bar w3-top w3-light-grey w3-large" style="z-index:1; height:16px; margin-top:40px;">
  <span class="w3-bar-item w3-right" style="color:white"><i></i></span>
</div>

<!-- TOP CONTAINER -->

